@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We respect your privacy. Any personal information 
    collected on this site is used solely for the purpose of providing services and will not be shared with third parties.</p>
